<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itqf.hsjxc.mapper.TypesMapper">

    <insert id="insertTypes">
        insert into types (t_name,t_des,t_note,t_weight)
            value(#{tName},#{tDes},#{tNote},#{tWeight})
    </insert>

    <!-- 查询需要指定结果
         List<Types>  == Types 集合需要返回的泛型的类型
    -->
    <select id="queryTypeList" resultType="types" >
        select * from types
    </select>

    <update id="updateTypes">
        update types set t_name = #{tName},
                          t_des = #{tDes},
                          t_note = #{tNote},
                          t_weight = #{tWeight}
                            where t_id = #{tId};
    </update>


</mapper>